body {
  margin: 0;
  background: #f2f6fc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body.no-scroll {
  overflow: hidden;
}
.main-content {
  padding-top: 80px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.auth-container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 375px;
  max-width: 90%;
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1d1d1d;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.input-group h4 {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 7.5px;
  font-size: 1rem;
  background-color: #e2e8f0;
  color: #1a202c;
  transition: border 0.2s;
}

input:focus {
  outline: none;
  border-color: #b5b8bb;
  background-color: #edf2f7;
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  background-color: #6c63ff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s;
}

button[type="submit"]:hover {
  background-color: #574fe2;
}

.auth-container > button {
  margin-top: 1rem;
  background: none;
  border: none;
  color: #6c63ff;
  font-size: 0.9rem;
  cursor: pointer;
}

.auth-container p {
  font-size: 0.9rem;
  text-align: center;
}

.auth-text {
  color: #555555;
  font-weight: 400;
}

.auth-link {
  color: #6c63ff;
  cursor: pointer;
  text-decoration: underline;
}

.auth-link:hover {
  color: #0c00f8;
}

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100hv;
  margin-top: 80px;
  z-index: 999;
  background: rgba(255, 255, 255, 0); /* or #f2f6fc */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 400px) {
  .auth-container {
    width: 90%;
    padding: 1.5rem;
  }
}
